main{
	border-radius: 4px;
	box-shadow: 0 0 1em #BDBDBD;
	min-width: 50vw;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	word-break: break-word;
	background-color: #fff;
}
main > div{
	padding: 1.5em;
	font-size: 1.1em;
	display: flex;
	flex-direction: column;
	word-break: break-word;
}
main > div .time{
	font-weight: 400;
	font-size: 1.4em;
	margin: 0;
}
main > div > input[type="text"]{
	margin-top: 1em;
	padding: 0.5em;
	border-radius: 4px;
	border: 2px solid silver;
	color: silver;
	font-size: 1em;
	width: 100%;
	outline: none;
	transition: color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
}
main > div > input[type="text"]:hover{
	color: grey;
	border: 2px solid grey;
}
main > div > input[type="text"]:focus{
	color: black;
	border: 2px solid dodgerblue;
	box-shadow: 0 0 0.5em dodgerblue;
}
.inputField{
	padding: 0.5em 0;
}
.inputField .item:last-child{
	border: none;
}
button{
	user-select: none;
	padding: 0.5em;
	width: 100%;
	align-self: flex-end;
	margin: 0;
	font-size: 1em;
	border-radius: 4px;
	border: 2px solid silver;
	color: silver;
	background-color: #fff;
	outline: none;
	transition: border 0.2s ease, box-shadow 0.2s ease, color 0.2s ease, background-color 0.2s ease;
	cursor: pointer;
}
button:hover{
	color: grey;
	border: 2px solid grey;
}
button:focus{
	border: 2px solid dodgerblue;
	box-shadow: 0 0 0.5em dodgerblue;
	background-color: dodgerblue;
	color: white;
}
@media only screen and (max-width: 750px) {
	main{
		min-width: 75vw;
	}
}